[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dataseries"]
	path = dataseries
	url = https://github.com/christophsax/dataseries
[submodule "seasonal"]
	path = seasonal
	url = https://github.com/christophsax/seasonal
[submodule "seasonalview"]
	path = seasonalview
	url = https://github.com/christophsax/seasonalview
[submodule "tempdisagg"]
	path = tempdisagg
	url = https://github.com/christophsax/tempdisagg
